*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Otomanopee One", sans-serif;
}

.log-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20px;
}

.login {
  background-image: linear-gradient(
    rgb(202, 194, 247),
    pink,
    rgb(247, 245, 192)
  );
  border: solid 3px black;
  padding: 20px;
  margin: 20px;
  border-radius: 9px;
}

.required {
  color: rgb(0, 0, 0);
}

.required::before {
  content: "*";
  color: red;
  font-size: 20px;
}

#login-submit {
  height: 10px;
  width: 195px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black solid 1px;
  border-radius: 4px;
  color: white;
  background-color: rgb(222, 63, 208);
  margin-top: 5px;
}
