*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Otomanopee One", sans-serif;
}

.login {
  background-color: rgb(225, 183, 183);
  border: solid 3px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 20px;
}

.required {
  color: rgb(255, 255, 255);
}

.required::before {
  content: "*";
  color: red;
  font-size: 20px;
}

#login-submit {
  height: 30px;
  width: 60px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .inputs {
  margin: 20px;
} */
